<!DOCTYPE html>
<html>
  <head>
    <title>RailsActionMailBox</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <style type="text/css">
      body{
        background: linear-gradient(to right, #c04848, #480048);
        min-height: 100vh
      }
      .text-gray{color: #aaa}
      img{
        height: 170px;width: 140px
      }
  
</style>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light p-0">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <%if current_user.present?%>
        <div class="collapse navbar-collapse" width="100%" id="navbarNav">
          <ul class="navbar-nav" style="height: 4rem;">
            <li class="nav-item">
                <a class="nav-link p-3" href="<%=products_path()%>">Products</a>
            </li>
          </ul>
        </div>
        <%= link_to "Sign out", destroy_user_session_path, :method => :delete,class:"nav-item mr-3 nav-link p-3" %>
      <%else%>  
        <div class="collapse navbar-collapse" width="100%" id="navbarNav">
          <ul class="navbar-nav" style="height: 4rem;">
            <li class="nav-item">
                <a class="nav-link p-3" href="#"></a>
            </li>
          </ul>
        </div>
        <%= link_to "Sign up", new_user_registration_path, class:"nav-item mr-3 nav-link p-3" %>
        <%= link_to "Sign In", new_user_session_path, class:"nav-item mr-3 nav-link p-3" %>
      <%end%>  
    </nav>

    <%= yield %>
  </body>
</html>
